@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.main{
    display: flex;
    flex-direction: column;
}
.title{
    margin-top: 5rem;
    font-family: "Open Sans", sans-serif;
    margin-left: 5%;
    color: #1f243a !important;
    font-weight: 600;
}
.order-link{
    margin-left: 5%;
    color: orangered
}
.menu-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
}
.menu-div{
    width: 100%;
    max-width: 600px;
    aspect-ratio: 2 / 3;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-div:first-child{
    margin-top: 2.5rem;
}

@media only screen and (min-width: 1024px) {
    .menu-section{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem
    }
    .menu-div{
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
    }
}